@charset "utf-8";
/* 重置部分 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
    font-size: 16px;
}
a,u{
    text-decoration: none;
}
em.i{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
}
ul,li,ol{
    list-style: none;
}
input{
    outline: none;
}
img{
    display: block;
}
fieldset{
    border: 0;
}
textarea{
    resize: none;
}
/* 当憨文本溢出 */
.text_yichu{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 万能清除 */
.qichu::after{
    content: "0";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility:hidden ;
}
/* 子元素在父元素居中 */
.juzhong{
    position: absolute;
    left: 0;right: 0;
    top: 0;bottom: 0;
    margin: auto;
}
/* 在窗口居中 */
.chuangju{
    position: fixed;
    left: 0;right: 0;
    top: 0;bottom: 0;
    margin: auto;
}